
<%= render :partial => "share/navigation" %>

<h1>Frutas on Line</h1>

<p>Frutas Frescas</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laboriosam, sequi nostrum velit! Quis molestiae incidunt dignissimos similique pariatur ullam, rerum suscipit omnis eos ex aut, blanditiis quidem neque! Nemo.</p>