<%= render :partial => "share/navigation" %>


 <h1>acerca de</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quidem laudantium iste dicta assumenda natus vitae molestias praesentium suscipit sunt dolorem ipsa, minima, molestiae deleniti. Perspiciatis iure, aliquid! Voluptatibus, in.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum enim blanditiis, soluta reiciendis, repellendus voluptate beatae cumque aliquam, consequuntur, harum molestias libero eos ex eum eaque fugit nostrum laudantium sequi!</p>