<%= render :partial => "share/navigation" %>


<h1>Hola contactenos</h1>

<p>deje su información</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores consequatur nisi minus, porro veritatis repudiandae. Placeat voluptate asperiores odit odio iusto, incidunt. Optio deleniti dolor similique aspernatur, ipsa voluptatibus minus.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nisi qui alias facere totam fugiat aut adipisci esse non exercitationem minus debitis, labore nam, quod dolor perspiciatis dolores tempore nobis?</p>